.contactBox {
  width: 230px;
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(248, 244, 247);
  border: 1px solid #111111;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactList {
  margin: 0;
  padding: 0;
  text-align: left;
}

.contactItem {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contactButton {
  border: 1px solid #131312;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}